* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    &:focus {
        outline: 0;
    }
}

:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,body {
    font-family: "Corisande-regular", Helvetica;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    line-height: 1.6;
}

.tooltip {
    z-index: 99;
}

body {
    // background: #eeeeee;
    background-color: #fff;
}

a {
    outline: 0;
    &:hover {
        cursor: pointer;
    }
    &:focus {
        outline: 0;
    }
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #acacac;
    margin: 1em 0;
    padding: 0;
    clear: both;
}

ul {
    padding: 0;
}
