@font-face {
  font-family: "Corisande-light";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/corisandelight-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/corisandelight-webfont.woff2") format("woff2"), url("../fonts/corisandelight-webfont.woff") format("woff"), url("../fonts/corisandelight-webfont.ttf") format("truetype"), url("../fonts/corisandelight-webfont.svg#Corisande-light") format("svg");
}


@font-face {
  font-family: "Corisande-regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/corisanderegular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/corisanderegular-webfont.woff2") format("woff2"), url("../fonts/corisanderegular-webfont.woff") format("woff"), url("../fonts/corisanderegular-webfont.ttf") format("truetype"), url("../fonts/corisanderegular-webfont.svg#Corisande-regular") format("svg");
}


@font-face {
  font-family: "Corisande-bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/corisandebold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/corisandebold-webfont.woff") format("woff"), url("../fonts/corisandebold-webfont.ttf") format("truetype"), url("../fonts/corisandebold-webfont.svg#Corisande-bold") format("svg");
}