.type {
    position: absolute;
    &--questionaire {
        background: url(../img/questionaire.png) no-repeat;
        bottom: 4px;
        @include size(20px, 29px);
    }
    &--rapport {
        bottom: 7px;
        @include size(21px, 24px);
        background: url(../img/rapport.png) no-repeat;
    }
    &--excel {
        background: url(../img/excel.png) no-repeat;
        @include size(23px, 23px);
        bottom: 6px;
    }
    &--word {
        background: url(../img/word.png) no-repeat;
        @include size(23px, 23px);
        bottom: 6px;
    }
    &--powerpoint {
        background: url(../img/powerpoint.png) no-repeat;
        @include size(23px, 22px);
        bottom: 6px;
    }
    &--pdf {
        background: url(../img/pdf-icon.png) no-repeat;
        @include size(23px, 23px);
        bottom: 6px;
    }
    &--html {
        background: url(../img/html.png) no-repeat;
        @include size(17px, 23px);
        bottom: 6px;
    }
    &--folder {
        @include size(25px, 21px);
        bottom: 8px;
        background: url(../img/folder-new.png) no-repeat;
    }
    &--image {
        @include size(26px, 23px);
        bottom: 6px;
        background: url(../img/image.png) no-repeat;
    }
}
