.dashboard-container {
    min-width: 950px;
    position: absolute;
    top: 65px;
    bottom: 0;
    left: 35px;
    right: 0;
    padding: 20px;
    will-change: left;
    @include transition(left 300ms ease);
    .item-overview-header {
        display: block;
        width: 100%;
        margin-bottom: 15px;
        padding: 0 10px;
        ul {
            margin: 0;
            list-style: none;
            display: table;
            width: 100%;
            li {
              display: table-cell;
              vertical-align: middle;
                // float: left;
                width: 13%;
                // padding-left: 10px;
                color: #888888;
                &.name {
                    width: 35%;
                }
                &.date, &.status, &.startEndDate,&.settlement,&.respondStatus{
                  text-align: right;
                }
                &.settlement {
                    width: 10%;
                    padding-left: 0;
                    // text-align: center;
                }
                &.respondStatus {
                    width: 16%;
                }
            }
        }
    }
    .survey-item {
      padding: 0 5px 0 10px;
        display: block;
        width: 100%;
        background: #ddd;
        position: relative;
        // height: 35px;
        margin-bottom: 15px;
        box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.25), 0px 1px 0px rgba(0, 0, 0, 0.15);
        ul {
            margin: 0;
            list-style: none;
            height: 100%;
            min-height: 35px;
            display: table;
            width: 100%;
            li {
                position: relative;
                // float: left;
                width: 13%;
                // padding-left: 10px;
                // padding-top: 10px;
                height: 100%;
                // white-space: nowrap;
                font-size: 12px;
                word-wrap: break-word;
                display: table-cell;
                vertical-align: middle;
                &.name {
                    width: 35%;
                    padding-left: 30px;
                }
                &.date, &.status, &.startEndDate, &.settlement, &.respondStatus{
                  text-align: right;
                }
                &.settlement {
                    width: 10%;
                    padding-left: 0;
                    // text-align: center;
                }
                &.respondStatus {
                    width: 16%;
                    padding-left: 30px;
                }
                &.startEndDate {
                    padding-top: 0;
                    span {
                        display: block;
                        width: 100%;
                        // position: absolute;
                        // top: 50%;
                        // transform: translateY(-50%);
                        // @include transform(trans)
                    }
                }
                p {
                    margin: 0;
                    display: inline;
                }
            }
        }
    }
    &.side-menu-active {
        left: 310px;
    }
}
