.extra-menu {
    position: absolute;
    right: 10px;
    width: 210px;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.3);
    z-index: 1;
    top: 70px;
    visibility: hidden;
    &.active {
        visibility: visible;
        @include animation(bounce-one 0.4s ease-out);
    }
    .btn {
        border-bottom: solid 1px darken(#02b1e8, 10%);
        border-top: solid 1px lighten(#02b1e8, 10%);
        &:first-of-type {
            border-top: 0;
            &:hover {
                border-top: 0;
            }
        }
        &:hover {
            border-top: solid 1px #006a8f;
        }
        span {
            display: block;
            float: left;
            position: absolute;
            &.folder {
                background-image: url(../img/folder_white.png);
                height: 19px;
                width: 23px;
            }
            &.search {
                background-image: url(../img/search.png);
                height: 19px;
                width: 23px;
            }
            &.project {
                background-image: url(../img/project-folder.png);
                height: 19px;
                width: 23px;
            }
            &.panelIcon {
                background-image: url(../img/users-white.png);
                height: 20px;
                width: 23px;
            }
            &.file {
                background-image: url(../img/file_new.png);
                height: 23px;
                width: 23px;
            }
            &.form {
                background-image: url(../img/form_new.png);
                height: 22px;
                width: 23px;
            }
            &.task {
                background-image: url(../img/task.png);
                height: 19px;
                width: 23px;
            }
            &.stats {
                background-image: url(../img/barchart.png);
                height: 19px;
                width: 23px;
            }
            &.report {
                background-image: url(../img/form_report.png);
                height: 23px;
                width: 23px;
            }
            &.group {
                background-image: url(../img/group.png);
                height: 23px;
                width: 23px;
            }
        }
    }
}

.extra-menu:after,
.extra-menu:before {
    bottom: 100%;
    right: 10px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.extra-menu:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #02b1e8;
    border-width: 10px;
    margin-left: -10px;
}

.extra-menu:before {
    border-color: rgba(213, 213, 213, 0);
    border-bottom-color: rgba(0, 0, 0, 0.2);
    border-width: 11px;
    right: 9px;
}
.extra-menu-btn{
    position: relative;
}
