

.footerNav {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  // .btn {
  //   padding: 0 13px 0 30px;
  //   height: 30px;
  //   font-size: 0.875rem;
  // }
  // .helpBtn {
  //   padding: 0 10px;
  // }
  // .saveBtn {
  //   float: right;
  //   position: relative;
  //   span {
  //     background: url(../img/save_white.png);
  //     position: absolute;
  //     width: 17px;
  //     height: 16px;
  //     left: 5px;
  //     top: 6px;
  //     background-size: 17px;
  //     background-repeat: no-repeat;
  //   }
  // }
  // .cancelBtn {
  //   position: relative;
  //   span {
  //     background: url(../img/cancel_white.png);
  //     position: absolute;
  //     width: 17px;
  //     height: 16px;
  //     left: 5px;
  //     top: 6px;
  //     background-size: 17px;
  //     background-repeat: no-repeat;
  //   }
  // }
  // .previewBtn {
  //   position: relative;
  //   span {
  //     background: url(../img/preview_white.png);
  //     position: absolute;
  //     width: 17px;
  //     height: 16px;
  //     left: 5px;
  //     top: 6px;
  //     background-size: 17px;
  //     background-repeat: no-repeat;
  //   }
  // }
}