input[type=text] {

  @include transition(all 300ms ease);
  border: solid 1px #acacac;
  padding: 7px 10px 6px;
  width: 100%;
  font-family: "Corisande-light";
  font-weight: normal;
  &:focus {
    outline: none;
    border-color: #02b1e8;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  }
}