
$bar-width: 112px;
$bar-height: 25px;
.progress-bar{
  position:absolute;
  border:#ccc solid 1px;
  width:$bar-width;
  height:$bar-height;
  line-height:$bar-height;
  vertical-align:middle;
  overflow:hidden;
  @include position(absolute, null 2px 5px 50%);
  margin-left: -56px; // half width
  background-color:#07A4DD;
  .bar{      
    position:absolute;
    top:0;
    height:100%;
    overflow:hidden;
    span{
      position:absolute;      
      display:block;
      width:$bar-width;
      height:100%;
      text-align:center;
    }
    &.positive{
      background-color:#fff;
      left:0;    
      @include transition(background-color 350ms ease, color 350ms ease);
      span{
        left:0;
        color:#333;
      }
      @include animation(animate-positive 2s);
      &.active{
        background-color: #06b01f;
        span{
          color: #fff;
        }
      }
    }      
    &.negative{
      right:0;
      span{
        right:0;
        color:#fff;
      }
      @include animation(animate-negative 2s);
    }    
  }
}
