.question-types {
    display: none;
    background: #fff;
    width: 58%;
    height: 113px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
    &-content {
        width: 95%;
        float: left;
    }
    .row {
        margin: 0;
    }
    .col {
        padding: 0;
    }
    .btn {
        width: 100%;
        font-size: 0.875rem;
        height: 35px;
        padding: 10px 0 8px;
        span {
            display: inline-block;
        }
    }
    .thumbnail {
        margin-bottom: 0px;
        border: 0;
        padding: 1px;
        &.oneAnswerBtn {
            padding: 2px 1px 1px 2px;
            .btn span {
                background: url(../img/radio.png);
                position: absolute;
                width: 16px;
                height: 16px;
                left: 10px;
                top: 9px;
                background-size: 16px;
                background-repeat: no-repeat;
            }
        }
        &.sliderBtn {
            padding: 2px 1px 1px 1px;
            .btn span {
                background: url(../img/slider.png);
                position: absolute;
                width: 30px;
                height: 15px;
                left: 10px;
                top: 13px;
                background-size: 30px;
                background-repeat: no-repeat;
            }
        }
        &.freeTextBtn {
            padding: 2px 0px 1px 1px;
            .btn span {
                background: url(../img/freeText.png);
                position: absolute;
                width: 30px;
                height: 20px;
                left: 10px;
                top: 10px;
                background-size: 30px;
                background-repeat: no-repeat;
            }
        }
        &.multipleBtn {
            padding: 1px 1px 1px 2px;
            .btn span {
                background: url(../img/multiple.png);
                position: absolute;
                width: 18px;
                height: 18px;
                left: 10px;
                top: 8px;
                background-size: 18px;
                background-repeat: no-repeat;
            }
        }
        &.frequencyBtn .btn span {
            background: url(../img/scale.png);
            position: absolute;
            width: 40px;
            height: 18px;
            left: 10px;
            top: 8px;
            background-size: 40px;
            background-repeat: no-repeat;
        }
        &.descriptionBtn {
            padding: 1px 0px 1px 1px;
            .btn span {
                background: url(../img/description.png);
                position: absolute;
                width: 35px;
                height: 20px;
                left: 10px;
                top: 7px;
                background-size: 35px;
                background-repeat: no-repeat;
            }
        }
        &.numericBtn {
            padding: 1px 1px 2px 2px;
            .btn span {
                position: absolute;
                left: 10px;
            }
        }
        &.formBtn {
            padding: 1px 1px 2px 1px;
            .btn span {
                background: url(../img/form.png);
                position: absolute;
                width: 20px;
                height: 22px;
                left: 15px;
                top: 6px;
                background-size: 20px;
                background-repeat: no-repeat;
            }
        }
        &.fileBtn {
            padding: 1px 0px 2px 1px;
            .btn span {
                background: url(../img/file.png);
                position: absolute;
                width: 18px;
                height: 22px;
                left: 15px;
                top: 6px;
                background-size: 18px;
                background-repeat: no-repeat;
            }
        }
    }
}

.question-types-extra {
    position: relative;
    width: 5%;
    float: left;
    height: 100%;
    border: solid 2px white;
    background-color: #02b1e8;
}

.carousel-control.left {
    left: 45%;
    @include transform(translateX(-50%));
    height: 19px;
    width: 11px!important;
    opacity: 1;
    top: 10px!important;
    background-image: url(../img/chevron-large-collapsed-reverse-white.png);

}

.carousel-control.right {
    left: 49%;
    right: auto;
    @include transform(translateX(-50%));
    height: 19px;
    width: 11px!important;
    bottom: 10px!important;
    background-image: url(../img/chevron-large-collapsed-white.png);
    opacity: 1;
    top: auto!important;
}
