.slide-menu {
    overflow: hidden;
    width: 310px;
    position: absolute;
    top: 65px;
    bottom: 0px;
    left: -275px;
    border-right: solid 2px #acacac;
    background-color: #fff;
    z-index: 1;
    will-change: transform;
    @include transform(translateX(0px));
    @include transition(all 350ms ease);
    &.active {
        @include transform(translateX(275px));
        @include old-ie8 {
            left: 0;
        }
        .tree {
            display: block;
        }
    }
    .slide-menu-btn {
        background: url(../img/chevron-large-collapsed.png) no-repeat;
        @include transition(transform 300ms ease);
        background-color: transparent;
        display: inline-block;
        position: absolute;
        overflow: hidden;
        margin: 0;
        padding: 0;
        width: 12px;
        height: 19px;
        font-size: 0;
        text-indent: -9999px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        box-shadow: none;
        border-radius: none;
        border: none;
        cursor: pointer;
        top: 10px;
        right: 10px;
        &:focus {
            outline: none;
        }
        img {
            display: none;
        }
        &.active {
            @include transform(rotate(180deg));
            @include old-ie8 {
                background: url(../img/chevron-large-collapsed-reverse.png) no-repeat;
            }
        }
    }
    .tree {
        overflow: hidden;
        margin: 0;
        width: 90%;
        float: left;
        height: 100%;
        li {
            list-style: none;
            position: relative;
            &.tree-empty > {
                .toggler {
                    color: #aaa;
                }
                span.toggler:before {
                    content: "\2212";
                    height: 18px;
                    width: 18px;
                    display: block;
                    text-align: center;
                }
            }
            &.tree-closed > span.toggler:before {
                content: ">";
                height: 18px;
                width: 18px;
                display: block;
                text-align: center;
            }
            &.tree-opened > span.toggler:before {
                content: "\2212";
                height: 18px;
                width: 18px;
                display: block;
                text-align: center;
            }
            a {
                white-space: nowrap;
                text-decoration: none;
                color: #333333;
                height: 100%;
                display: block;
                height: 100%;
                padding-left: 120px;
                span {
                    padding: 20px;
                    display: block;
                    position: relative;
                    top: 2px;
                }
            }
            i.top-folder {
                background: url(../img/folder-new.png) no-repeat;
                height: 40px;
                width: 43px;
                position: absolute;
                top: 50%;
                @include transform(translateY(-50%));
                left: 60px;
            }
            ul {
                position: absolute;
                width: 100%;
                margin: 0;
                li {
                    .toggler {
                        left: 25px;
                    }
                    i {
                        left: 70px !important;
                    }
                    a {
                        padding-left: 130px !important;
                    }
                    ul li {
                        .toggler {
                            left: 35px;
                        }
                        i {
                            left: 85px !important;
                        }
                        a {
                            padding-left: 145px !important;
                        }
                        ul li {
                            .toggler {
                                left: 45px;
                            }
                            i {
                                left: 100px !important;
                            }
                            a {
                                padding-left: 160px !important;
                            }
                        }
                    }
                }
                .tree-closed i {
                    background-image: url(../img/folder-new.png) !important;
                    position: absolute;
                    width: 43px;
                    height: 40px;
                    left: 55px;
                    top: 50%;
                    @include transform(translateY(-50%));
                }
                .tree-opened i {
                    background-image: url(../img/folder-open-new.png);
                    position: absolute;
                    width: 45px;
                    height: 42px;
                    left: 55px;
                    top: 50%;
                    @include transform(translateY(-50%));
                }
                .tree-empty i {
                    background-image: url(../img/folder-new.png) !important;
                    position: absolute;
                    width: 40px;
                    height: 43px;
                    left: 55px;
                    top: 50%;
                    @include transform(translateY(-50%));
                }
            }
        }
        .toggler {
            padding: 10px;
            position: absolute;
            left: 15px;
            top: 50%;
            border: solid 1px transparent;
            @include transform(translateY(-50%));
            &:hover {
                border: solid 1px #ddd;
                cursor: pointer;
            }
            &.hover {
                // border-color: #02b1e8;
                color: white;
            }
        }
    }
}

.slide-menu-btn-side {
    float: left;
    width: 10%;
    height: 100%;
    &:hover {
        cursor: pointer;
    }
}

.v2 .folder-tree {
    width: 100%;
    & > li {
        a {
            color: white;
            & > span {
                background: url(../img/chevron-right-white.png) no-repeat;
                display: inline-block;
                height: 15px;
                width: 9px;
                margin: 0 10px 0 0;
            }
            &:hover {
                background-color: #00698e;
                color: white;
                text-decoration: none;
                & > span {
                    background: url(../img/chevron-right-white.png) no-repeat;
                }
            }
        }
    }
    .open {
        & > a {
            &:hover {
                > span {
                    background: url(../img/chevron-white.png) no-repeat;
                }
            }
            & > span {
                background: url(../img/chevron-white.png) no-repeat;
                display: inline-block;
                height: 9px;
                width: 15px;
                margin: 0 10px 0 0;
            }
        }
    }
}

.folder-tree {
    margin: 0;
    width: 90%;
    // height: 100%;
    overflow: hidden;
    float: left;
    li {
        display: block;
        a {
            display: block;
            width: 100%;
            padding: 10px;
            &:hover {
                background-color: rgb(2, 177, 232);
                color: white;
                text-decoration: none;
                & > span {
                    background: url(../img/chevron-right-white.png) no-repeat;
                }
            }
            img {
                margin: 0 10px 0 0;
            }
        }
    }
    ul {
        & > li {
            a {
                padding-left: 15px;
                & > span {
                    background: url(../img/chevron-right.png) no-repeat;
                    display: inline-block;
                    height: 15px;
                    width: 9px;
                    margin: 0 10px 0 0;
                }
            }
            ul > li > a {
                & > span {
                    background: url(../img/chevron-right.png) no-repeat;
                    display: inline-block;
                    height: 15px;
                    width: 9px;
                    margin: 0 10px 0 0;
                }
                padding-left: 25px;
            }
            ul > li > ul > li > a {
                & > span {
                    background: url(../img/chevron-right.png) no-repeat;
                    display: inline-block;
                    height: 15px;
                    width: 9px;
                    margin: 0 10px 0 0;
                }
                padding-left: 35px;
            }
            ul > li > ul > li > ul > li > a {
                & > span {
                    background: url(../img/chevron-right.png) no-repeat;
                    display: inline-block;
                    height: 15px;
                    width: 9px;
                    margin: 0 10px 0 0;
                }
                padding-left: 45px;
            }
        }
    }
    .open {
        & > a {
            &:hover {
                > span {
                    background: url(../img/chevron-white.png) no-repeat;
                }
            }
            & > span {
                background: url(../img/chevron-sort.png) no-repeat;
                display: inline-block;
                height: 9px;
                width: 15px;
                margin: 0 10px 0 0;
            }
        }
    }
}

#wrapper {
    padding-left: 0;
    @include transition(padding 300ms ease);
    background-color: #00698e;
}

#wrapper.toggled {
    padding-left: 300px;
}

.sidebar-header {
    height: 65px;
    background-color: #0F789D;
    text-align: center;
    p {
        margin: 0;
        color: #fff;
        font-size: 22px;
        position: relative;
        top: 14px;
    }
}

#sidebar-wrapper {
    background-color: #02b1e8;
    z-index: 1000;
    position: fixed;
    left: -300px;
    width: 300px;
    height: 100%;
    // margin-left: -300px;
    overflow-y: auto;
    @include transition(width 300ms ease, transform 300ms ease);
}

#wrapper.toggled #sidebar-wrapper {
    // width: 300px;
    @include transform(translateX(300px));
}

.search-container {
    background-color: #1BC6FC;
    position: relative;
    input {
        border: 0;
        background-color: transparent;
        color: #fff;
        font-weight: bold;
        padding: 17px 50px 13px;
        font-family: Corisande-regular;
        font-size: 16px;
        &::-webkit-input-placeholder {
            color: #fff;
        }
        &:-moz-placeholder {
            color: #fff;
        }
        &:-ms-input-placeholder {
            color: #fff;
        }
        &:focus {
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        &::-moz-selection {
            background-color: #00698e;
        }
        &::selection {
            background-color: #00698e;
        }
    }
    &:before {
        content: '';
        position: absolute;
        background-image: url(../img/search.png);
        height: 19px;
        width: 23px;
        top: 50%;
        left: 5px;
        margin-top: -10px;
    }
}
