
.tabpanel {
  .nav-tabs {
    margin-top: 0px;
    border-bottom: solid 2px #d6d6d6;
    // border-left: solid 2px #acacac;
    // border-right: solid 2px #acacac;
    text-align: center;
    border-top: solid 2px #d6d6d6;
    li {
      margin-bottom: -2px;
      width: 33.33333333%;
      &.active {
        &.questionnaireTab a {
          border-left: 0;
        }
        &.designTab a {
          border-right: 0;
        }
        a {
          // margin-top: 1px;
          border: solid 2px #d6d6d6;
          border-top: 0;
          border-bottom-color: transparent;
            // border-right: solid 3px #acacac;
        }
      }
      a {
        overflow: hidden;
        outline: 0;
        color: #333333;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    a {
      margin-right: 0;
      border-radius: 0;
      text-decoration: none;
      &:hover {
        background: transparent;
        border-color: transparent;
      }
    }
  }
  .tab-content {
    padding: 15px 10px 10px;
    p {
      margin: 0;
    }
    label {
      margin: 5px 0 10px;
      display: inline-block;
      input[type="text"] {
        margin-top: 5px;
      }
    }
    .tab-pane {
      height: 100%;
    }
  }
}