.outer-container .survey-innerContainer {
    // overflow: hidden;
    max-width: 1224px;
    min-width: 950px;
    margin: auto;
    position: absolute;
    top: 65px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 10px;
    .survey {
      will-change: width;
        // width: 60%;
        // width: 100%;
        // float: left;
        // padding: 0px 10px 0px 0px;
        padding: 0;
        position: absolute;
        // padding-right: 30px;
        // overflow-y: scroll;
        left: 10px;
        right: 10px;
        bottom: 10px;
        // text-align: center;
        // height: 100%;
        top: 120px;
        @include transition(width 100ms ease);
        &.active {
          width: 60%;
          // padding-right: 30px;
            // float: left;
            // .survey__list{
            //   right: 20px;
            // }
            .survey__list{
              width: 95%;
            }
          }
          &.fixed{
            overflow-y: visible;
            top: 0;
            left: 0;
            right: 0;
            padding-right: 0;
            .survey__list{
              position: relative;
              width: 100%;
              padding-bottom: 10px;
            }
          }
        }
        .survey__title {
          text-align: left;
          display: inline-block;
        }
        .survey__list {
        // overflow-y: scroll;
        text-align: left;
        // position: absolute;
        // right: 10px;
        // right: 0;
        // left: 0;
        // bottom: 55px;
        // top: 0px;
        // z-index: 9;
        // overflow-y: scroll;
        position: absolute;
        bottom: 0;
        width: 100%;
        top: 0;
        overflow-y: scroll;
        .survey-collapse {
          height: auto;
          width: 100%;
          border: solid 2px #acacac;
          overflow: hidden;
          margin-bottom: 25px;
          position: relative;
          &:last-of-type {
            margin: 0;
          }
          p {
            margin: 0;
            padding: 3px;
            color: #02b1e8;
          }
          .dots {
            position: absolute;
            left: 50%;
            -webkit-transform: translate(-50%, 5px);
            -ms-transform: translate(-50%, 5px);
            -o-transform: translate(-50%, 5px);
            transform: translate(-50%, 5px);
            &:hover {
              cursor: move;
            }
          }
          h3 {
            margin: 5px 20px 15px;
          }
          span {
            &:hover {
              cursor: pointer;
            }
            &:active {
              background-color: #0096d7;
              color: #fff;
            }
          }
          .deleteQ {
            color: #0096d7;
            position: absolute;
            top: 5px;
            right: 5px;
            border: solid 1px #0096d7;
            height: 25px;
            width: 25px;
            background: url("../img/trash.png") no-repeat 1px 1px;
            background-size: 21px;
            &:before {
              position: absolute;
              left: 50%;
              top: 50%;
              -webkit-transform: translate(-50%, -50%);
              -moz-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              -o-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
              font-size: 20px;
            }
            &:active {
              background: url("../img/trash_white.png") #0096d7 no-repeat 1px 1px;
              background-size: 21px;
            }
          }
          .duplicateQ {
            color: #0096d7;
            position: absolute;
            top: 5px;
            right: 35px;
            border: solid 1px #0096d7;
            height: 25px;
            width: 25px;
            background: url("../img/duplicate.png") no-repeat 1px 1px;
            background-size: 21px;
            &:before {
              position: absolute;
              left: 50%;
              top: 50%;
              -webkit-transform: translate(-50%, -50%);
              -moz-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              -o-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
              font-size: 20px;
            }
            &:active {
              background: url("../img/duplicate_white.png") #0096d7 no-repeat 1px 1px;
              background-size: 21px;
            }
          }
          .resizeQ {
            position: absolute;
            top: 5px;
            right: 65px;
            border: solid 1px #0096d7;
            height: 25px;
            width: 25px;
            background: url("../img/expand_1.png") no-repeat 1px 1px;
            background-size: 21px;
            &:active {
              background: url("../img/expand_1_white.png") #0096d7 no-repeat 1px 1px;
              background-size: 21px;
            }
            &.min {
              background: url("../img/minimize_1.png") no-repeat 1px 1px;
              background-size: 21px;
              &:active {
                background: url("../img/minimize_1_white.png") #0096d7 no-repeat 1px 1px;
                background-size: 21px;
              }
            }
          }
          &.collapsed {
            height: auto;
            .question-nr {
              margin-bottom: 20px;
            }
          }
          .question {
            margin-bottom: 20px;
            h3 {
              padding: 0 0 0 20px;
              display: inline-block;
              margin-right: 20px;
              font-size: 16px;
            }
            input {
              display: inline-block;
              width: 60%;
            }
            .deleteQ-btn {
              color: #acacac;
            }
            &.dimmed {
              h3 {
                color: #efefef;
              }
              input {
                border-color: #efefef;
                &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder {
                  color: #efefef;
                }
              }
            }
            &.draggable h3 {
              position: relative;
              &:before {
                position: absolute;
                content: '';
                background-image: url(../img/dots_turned.png);
                width: 8px;
                height: 20px;
                background-repeat: no-repeat;
                left: 4px;
                top: -2px;
              }
              &:hover {
                cursor: move;
              }
            }
          }
        }
      }
      .fadeInUp {
        @include transform(translateY(10px));
        @include transition(opacity 200ms ease, transform 550ms ease);
        // @include transition-delay(0.5s);
        opacity: 0;
        will-change: opacity, transform;
        &.active {
          @include transform(translateY(0px));
          opacity: 1;
          z-index: 1;
        }
      }
      .survey-settings {
        opacity: 0;
        width: 40%;
        border-top: 0;
        float: left;
        padding-top: 0px;
        position: absolute;
        top: 55px;
        right: 10px;
        bottom: 10px;
        border-left: 2px solid #acacac;
        border-right: 2px solid #acacac;
        border-bottom: 2px solid #acacac;
        overflow-y: scroll;
        z-index: -1;

        &.fixed{
          position: fixed;
  right: 10px;
  top: 120px;
        }
      }
      .survey-settings__heading {
        height: 35px;
        line-height: 30px;
        border: solid 2px #acacac;
        text-align: center;
        p {
          margin: 0;
        }
      }
    }

    .survey-language {
      float: left;
    // width: 110px;
    position: relative;
  }

  .lol{
    position: relative;
    height: 100%;
    width: 100%;
  }